body {
padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
background: url('https://i.cdn.turner.com/adultswim/big/img/2018/11/29/18-RAM_Landing%20Page%20Update.png');

 }

 .loGo {
    width: 950px; 
    height: 500px;
    align-content: center;
    display:block;
    margin:auto; 
        
 }

 .morTy1 {
    width: 800px; 
    height: 790px;
    align-content: center;
    display:block; /* para centrar imagen */
    margin:auto;

 }

 button {
   display:block; /* para centrar imagen */
   margin:auto;

 }