/*--------CABECERA FIJA----------*/
#main-header {
    background: whitesmoke;
    color:black;
    height: 50px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
    #main-header a {
        color: black;
    }
 
/* --------Logo cabecera--------- */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: rgb(120, 146, 25);
    }
    
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    
    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
    
/*-------Navegación---------*/
nav {
    float: right;
}
    nav ul {  /* Tomo a nav ul y juntas le doy las sgtes ordenes  */
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
    }
    
        nav ul li { /* Tomo a nav ul il y juntas le doy las sgtes ordenes  */
            display: inline-block;
            line-height: 50px; /* poseciona al medio las letras de cabecera INICIO  */
        }
           
            nav ul li a { /* Tomo a nav ul il a y juntas le doy las sgtes ordenes  */
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
            
/* ----------FINAL CABECERA FIJA------------ */

/* ----------LOGO PRINCIPAL----------- */

.loGo {
    
    display:block;
    margin-left: 11%;
    margin-right: 100%;
    padding-top: 90px;
    background: transparent;      
 }
 /* -----LOGO PRINCIPAL----- */

/* -------------FINAL INTRODUCCION--------------- */


.textRyM {  /* Texto intro */
    
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 1050px;
    height: 500px;
    left: 251px;
    top: 800px;
    font-size: 20px;
    color: #FFFDFD;
    text-align: justify;  
}

.textRyM2 {  /* Texto data */
    
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 1050px;
    height: 544px;
    left: 60px;
    top: 90px;
    font-size: 20px;
    color: #FFFDFD;
    line-height : 25px;
    text-align: justify;
}

.liItem {
 
    float: left; 
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 10%; 
    color: #FFFDFD;
 
  
}
.charData {
    
    float: unset;
    position: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFFDFD;

}

/* ---------------FINAL INTRODUCCION-------------------- */

/* ----------------BOTONES------------------- */

.buttoncharacter { 
    background: transparent;
    border: none; 
    position: absolute;
    left: 15%;
    top: 1300px;
    
}

.buttoncreators { 
    background: transparent;
    border: none; 
    display: block;
    position: absolute;
    left: 60%;
    top: 1750px;

}

.buttonvideo { 
    background: transparent;
    border: none; 
    position: absolute;
    left: 500px;
    top: 2100px;
}


/* ------------------FIN BOTONES------------------- */

/* ---------------BACKGROUND--------------------- */

 body {    
     /* Relleno superior igual a la altura de la cabecera*/
    background: url('https://i.cdn.turner.com/adultswim/big/img/2018/11/29/18-RAM_Landing%20Page%20Update.png');  
    max-width: 1000px;
    
}

/* ------------FINAL BACKGROUND------------------- */

/* -----------------------HTML2--------------------------- */


.textRyM3 {  
    
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 1050px;
    height: 3000px;
    left: 251px;
    top: 100px;
    font-size: 20px;
    color: #FFFDFD;
    text-align: justify;
}

/* -----------------------HTML3--------------------------- */


.textRyM4 {  
    
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    line-height : 25px;
     /* altura de la pagina */
    left: 400px;   /* posicionamiento de los objetos desde lado izquierdo */
    top: 100px;   /* posicionamiento de altura, que no se toque con header */
    font-size: 20px;
    color: #FFFDFD;
    text-align: justify;
}


.buttonVideo {  
    position: absolute;
     /* altura de la pagina */
    left: 400px;   /* posicionamiento de los objetos desde lado izquierdo */
    top: 700px;   /* posicionamiento de altura, que no se toque con header */
    
}

video {
    width:50%;
    left: 400px;
    position: absolute;
    top: 250px;
}

.buTTVideo2 {  
    position: absolute;
    left: 400px;   /* posicionamiento de los objetos desde lado izquierdo */
    top: 90%   /* posicionamiento de altura, que no se toque con header */

   }

.link1 {
    width:50%;
    left: 400px;
    position: absolute;
    top: 3300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFDFD;
    text-align: justify;
    margin-bottom: 20px; /*bordes de abajo de objeto*/
    font-weight: 1000;
}

.link2 {
    width:50%;
    left: 650px;
    position: absolute;
    top: 750px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFFDFD;
    text-align: justify;
    font-weight: 1000;  /*anchura de la letra*/
}

/* -----------------------FOOTER--------------------------- */

footer {

    font-family: 'Open Sans', sans-serif;
    position: absolute;
    line-height : 20px;
    text-align: center;
    left: 50px;   /* posicionamiento de los objetos desde lado izquierdo */
    top: 2700px;   /* posicionamiento de altura, que no se toque con header */
    font-size: 12px;
    color: #FFFDFD;
  
}

/* -----------------------RESPONSIVE--------------------------- */

@media screen and (max-width : 800px) {    /* ------PANTALLA PARA tablet--- */
     
    body {
      background: black;
     }
     
     .loGo {
      width: 80%;      
      background: transparent;

     }
     .textRyM{
      width: 80%;  
      font-size: 15px;
      left: 75px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 350px; 
      text-align: justify;  
     }

     .textRyM2{
       
      font-size: 15px;
      left: 75px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 70px;  
      text-align: justify; 
     }

     .textRyM3{
      width: 80%;  
      font-size: 15px;
      left: 75px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 100px;  
      text-align: justify; 
     }

     .textRyM4{
      width: 80%;  
      font-size: 15px;
      left: 100px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 100px;  
      text-align: justify; 
     }

     .liItem {
     
      font-size: 15px;
      left: 95px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 100%;
     }

     .charData {
      width: 80%;  
      font-size: 15px;
      left: 75px;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 300px;
     }

     .buttoncharacter {
      top: 110%;
      left: 8%;
     }

     .buttoncreators {
      top: 220%;
      left: 10%;
     }

     .buttonvideo {  
        position: absolute;
        left: 35%;   /* posicionamiento de los objetos desde lado izquierdo */
        top: 280%   /* posicionamiento de altura, que no se toque con header */
   
       }

     video {
      width:70%;
      left: 15%;
      top: 30%;
      }
  

      .buTTVideo2 {  
        position: absolute;
        left: 15%;   /* posicionamiento de los objetos desde lado izquierdo */
        top: 70%   /* posicionamiento de altura, que no se toque con header */
   
       }
 
     footer {
      position: absolute;
      line-height : 20px;
      text-align: left;
      position: center;   /* posicionamiento de los objetos desde lado izquierdo */
      top: 2400px;   /* posicionamiento de altura, que no se toque con header */
      }

     .imagenPag2 {
      width: 100%;

      }

      .link1 {
          width:50%;
          left: 45%;
          position: absolute;
          top: 3000px;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          color: #FFFDFD;
          margin-bottom: 20px; /*bordes de abajo de objeto*/
          font-weight: 1000;
        
      }
      
      .link2 {
          width:50%;
          left: 45%;
          position: absolute;
          top: 600px;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
          color: #FFFDFD;
          margin-bottom: 10px; /*bordes de abajo de objeto*/
          font-weight: 1000;
     
      }
    
}